body {
    background-color: rgb(65, 65, 65);
    color: white;
    padding-top: 145px;
}

.custom-link {
    color: rgb(43, 43, 43)
}

.custom-link :hover {
    color: goldenrod;
    text-decoration: underline;
    font-weight: bold;
}

.content-area {
    /* background-color: rgb(41, 41, 41); */
    color: white;
}

.card {
    margin: 20px auto;
    background-color: none;
}

.card-header {
    color: goldenrod;
    background-color: rgba(245, 245, 245, 0.94);
}

.card-body {
    background-color: rgb(31, 31, 31);
}

.card-text {
    color: white;
}

.btn-blogpost {
    background-color: rgb(136, 14, 160);
    color: white;
}

.card-footer {
    align-items: center;
    background-color: goldenrod;
    color: white;
}

.login-heading {
    color: goldenrod;
}

.btn-login {
    background-color: goldenrod;
    color: white;
    margin: 10px auto;
}

.signup-heading {
    color: rgb(228, 228, 228);
}

.btn-signup {
    background-color: rgb(136, 14, 160);
    color: white;
    margin: 10px auto;
}

@media screen and (min-width: 645px) {
    body { padding-top: 120px; }
}


@media screen and (min-width: 768px) {
    body { padding-top: 110px; }
}